
{% extends 'main/base.html' %}

{% block content %}

<div class="container">
    <div class="card">
        <div class="card-body">
            <h3 class="text-center">Welcome</h3>
            <form action="" method="POST">
                {% csrf_token %}
                <label for="username">Username</label>
                <input type="text" placeholder="Enter your username" class="form-control" name="username"> 

                <label for="email"> Email</label>
                <input type="email" placeholder = "Enter your email" class="form-control" name="email">
                <br>


                <input type="submit" value = "" class="btn btn-danger">
            </form>
        </div>
    </div>
</div>

{% endblock %}