{% extends 'main/base.html' %}
{% load bootstrap4 %}
{% block content %}

<div class="container">
    <br>
    <div class="card">
        <div class="card-body">

        <div class="row">
            <div class="col-md-4">
                <img src="{{project.image}}" alt="{{project.name}}" class="img-fluid" width="80%">
            </div>
            <div class="col-md-8">
                <h3 class="text-center">
                    {{project.title}}
                </h3>
                <p> Description: {{project.description}}</p>
                <button type="button"> <a href='{{ project.link }}' class ="btn btn-primary">Project Link</a></button>
                <h5>Done by: {{project.user.user.username}}</h5>
                <h5>Rating: {{ average }} / 10</h5>


                <a href="{% url 'main:edit_projects' project.id%}" class="btn btn-warning"> Edit Project</a>
            </div>
        </div>
    </div>
    </div>
    <br>
    <div class="card">
        <div class="card-body">
            <h3 class="text-center">Project Reviews</h3>
            <form action="{% url 'main:add_review' project.id %}" method="POST" novalidate enctype="multipart/form-data">
                {% csrf_token %}
                <label for="comment">Comment</label>
                <textarea name="comment" id="comment" cols="30" rows="5" class="form-control"></textarea>
                <h4 class="text-center">Ratings</h4>
                <label for="rating">Design</label>
                <input type="rating"  id="rangeInput" name="rating" min="0" max="10" value="0" step="0.1" 
                oninput="amount.value=rangeInput.value">
                <output name="amount" id="amount" for="rangeInput" >0</output>
                <label for="rating">Usability</label>
                <input type="rating"  id="rangeInput" name="rating" min="0" max="10" value="0" step="0.1" 
                oninput="amount.value=rangeInput.value">
                <output name="amount" id="amount" for="rangeInput" >0</output>
                <label for="rating">Content</label>
                <input type="rating"  id="rangeInput" name="rating" min="0" max="10" value="0" step="0.1" 
                oninput="amount.value=rangeInput.value">
                <output name="amount" id="amount" for="rangeInput" >0</output>

                <!-- {% for field in rate_form %}
                {% bootstrap_field field %}
                {% endfor %} -->
                <input type="submit" class="btn btn-danger" value="Save Review">
            </form>
        </div>
    </div>
    <div class="card" style="background-color: grey">
        <div class="card-body">
            <h3 class="text-center">Reviews</h3>
           <ul>
               {% for review in reviews %}
               <li>Review By: {{ review.user.user.username}}</li>
               <li>Comment: {{ review.comment}} </li>
                <li> Design Rating: {{ review.design_rating}}</li>
                <li> Usability Rating: {{ review.usability_rating}}</li>
                <li> Content Rating: {{ review.content_rating}}</li>
                <a href="{% url 'main:edit_review' project.id review.id %}" class="btn btn-warning"> Edit Review</a>

                
                <br>
                <a href="{% url 'main:delete_review' project.id review.id %}" onclick="return confirm('Are you sure you wanna delete this?')">Delete</a>

                <br>
               {% endfor %}
           </ul> 
        </div>
    </div>
    
</div>


{% endblock %}